<header>
  <div></div>
  <div class="container">
    <div class="text-center text-white intro-text">
      <h1 class="h2">SAS</h1>
      <h3 class="h1">Reserve Apartment near to your university</h3>
      <a class="btn book">BOOK</a>
    </div>
  </div>
  <div class="container">
    <form class="row">
      <div class="col-md-3 bg-main">
        <div class="p-3">
          <input type="text" class="form-control" placeholder="Your Name" />
        </div>
      </div>
      <div class="col-md-3 bg-main">
        <div class="p-3">
          <input
            type="text"
            class="form-control"
            placeholder="Your University"
          />
        </div>
      </div>
      <div class="col-md-3 bg-main">
        <div class="p-3">
          <input type="text" class="form-control" placeholder="Your Address" />
        </div>
      </div>
      <div class="col-md-3 bg-dark text-white pointer">
        <div
          class="d-flex align-items-center justify-content-between h-100 navigate-to-search"
        >
          <h4>Get Recommendations? <i class="fa fa-arrow-right"></i></h4>
        </div>
      </div>
    </form>
  </div>
</header>
<section class="py-5 bg-my-light">
  <h1 class="text-center mb-5 p-5 h4">FEATURED APARTMENTS</h1>
  <div class="container">
    <div class="row g-0 mb-5">
      <div class="col-md-6 main-col img">
        <div class="hidden-text shadow">
          <span>FOR AS LOW AS</span>
          <span>100EGP/night</span>
        </div>
      </div>
      <div
        class="col-md-6 bg-white main-col d-flex align-items-center justify-content-center"
      >
        <div class="p-5">
          <h1 class="h3">Valiable Solution</h1>
          <p class="lead text-muted">
            the premier choice for student housing! We specialize in providing
            high-quality, affordable, and convenient apartments tailored to meet
            the unique needs of students. Our mission is to create a
            comfortable, safe, and engaging living environment that fosters
            academic success and personal growth.
          </p>
          <button class="btn btn-dark">BOOK NOW</button>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div
        class="col-lg-3 bg-white main-col d-flex align-items-center justify-content-center"
      >
        <div class="p-5">
          <h1 class="h3">Cairo Universty</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            nostrum consequuntur eum quas suscipit eius quia, reprehenderit,
          </p>
          <a class="btn btn-dark" [routerLink]="['/explore', 'cairo']">
            Exploore
          </a>
        </div>
      </div>
      <div class="col-lg-3 main-col cairo">
        <div class="hidden-text shadow">
          <span>FOR AS LOW AS</span>
          <span>100EGP/night</span>
        </div>
      </div>
      <div
        class="col-lg-3 bg-white main-col d-flex align-items-center justify-content-center"
      >
        <div class="p-5">
          <h1 class="h3">Helwan</h1>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            nostrum consequuntur eum quas suscipit eius quia, reprehenderit,
          </p>
          <a class="btn btn-dark" [routerLink]="['/explore', 'helwan']">
            Exploore
          </a>
        </div>
      </div>
      <div class="col-lg-3 main-col helwan">
        <div class="hidden-text shadow">
          <span>FOR AS LOW AS</span>
          <span>100EGP/night</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-orange">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-4">
        <div class="customer-card-parent">
          <div class="bg-white customer-card p-4">
            <p>
              “If you’re looking for a top quality hotel look no further. We
              were upgraded free of charge to the Premium Suite, thanks so much”
            </p>
          </div>
          <p class="mt-3 text-white ms-3">Waleed Tarek</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-card-parent">
          <div class="bg-white customer-card p-4">
            <p>
              “Me and my wife had a delightful weekend get away here, the staff
              were so friendly and attentive. Highly Recommended”
            </p>
          </div>
          <p class="mt-3 text-white ms-3">Mohamed Yasser</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-card-parent">
          <div class="bg-white customer-card p-4">
            <p>
              “If you’re looking for a top quality hotel look no further. We
              were upgraded free of charge to the Premium Suite, thanks so much”
            </p>
          </div>
          <p class="mt-3 text-white ms-3">ahmed hossam</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5 bg-my-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h5 text-center mb-5 py-5">OUR BLOG</h1>
      </div>
      <div class="col-md-4">
        <div class="card overflow-hidden position-relative">
          <div class="label">
            <span>09</span>
            <span>AUG</span>
          </div>
          <img
            src="../../../assets/images/bg2.jpg"
            class="card-img-top w-100"
            alt="..."
            style="height: 300px"
          />

          <div class="card-body">
            <h2 class="card-text h4">Discover New Adventure</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card overflow-hidden position-relative">
          <div class="label">
            <span>09</span>
            <span>AUG</span>
          </div>
          <img
            src="../../../assets/images/bg3.jpg"
            class="card-img-top w-100"
            alt="..."
            style="height: 300px"
          />

          <div class="card-body">
            <h2 class="card-text h4">Discover New Adventure</h2>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card overflow-hidden position-relative">
          <div class="label">
            <span>09</span>
            <span>AUG</span>
          </div>
          <img
            src="../../../assets/images/bg1.jpg"
            class="card-img-top w-100"
            alt="..."
            style="height: 300px"
          />

          <div class="card-body">
            <h2 class="card-text h4">Discover New Adventure</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
